/* Header CSS Start */
@import
url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter&family=Montserrat&family=PT+Sans:wght@700&family=Poppins:wght@400;500&family=Rowdies:wght@300&family=Secular+One&display=swap');
:root{
    --font1:'IBM Plex Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.5);
}
.navbar-brand{
    display:flex;
}
.navbar-brand h2{
    margin-left: 1rem;
    margin-top:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-expand-lg .navbar-nav{
    margin-left: 3.5vw;
}
.nav-item{
    font-family: var(--font1);
}
.nav-item:hover{
font-weight: 600;
}
#settingbutton{
    font-weight: 700;

}
#settingbutton:hover{
        opacity:0.7;
}
.searchbarcontainer{
    display: flex;
    width: 18.8rem;
}
.container-fluid #searchhere{
    width: 13rem;
}
.container-fluid #searchbuttonprimary{
    width: 5rem;
}
/* Header CSS ends here! */
/* Main CSS Start */
main{
    padding-top: 3rem;
    background-color: #FFECEC;
    height: 60rem;
    width: 100%;
}
.container{
    width: 80%;
    display: flex;
    background-color: #FFECEC;
}
.card{
    background-color:  #F4F4F4;
    display: flex;
}
.card2{
    width: 65rem;
    background-color: black;
    color: white;
    border: 3px solid rgb(182, 99, 99);      
    border-radius: 8px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.5);
}
#card-body{
    display: flex;
}
.card-body h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body p {
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    border: 3px solid rgb(155, 64, 64);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.2);
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
    width: 95%;
}
@media only screen and (max-width:769px) {
  
    main{
        height: 100rem;
    }
  #card-body{
        display: block;
        width: 101%;
        height: 85rem;
    }
    .formBox1{
        width: 100%;
        display: block;
    }
    .formBox2{
        width: 100%;
        display: block;
    }
    .rightContainer{
        margin-top: 2rem;
        width: 92%;
        height: 100vh;
    }
    .container{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    form{
        width: 203%;
        margin-left: 0rem;
    }
    .mainimage{
        margin-left: 0rem;
        width: 95%;
    }
    .btn{
        width: 60vw;
    }
}
.box1{
    display: inline-block;
    width: 48%;
}
.box2{
    margin-right: 0.5vh;
    display: inline-block;
    width: 48%;
    padding-left: 1vw;
}
.submitbutton{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.submitbutton{
    margin-top: 2vh;
}
.btn{
    width: 50vw;
    height: 8vh;
    border: 1px solid rgb(206, 85, 85);;
    border-radius: 12px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.2);
    font-family: 'IBM Plex Sans', sans-serif;
}
.formBox1{
    display: inline-block;
    width: 49%;
}
.formBox2{
    display: inline-block;
    width: 100%;
   padding-left: 5%;
   padding-right: 2%;
}
.rightContainer{
    width: 92%;
    height: 90vh;
    margin-left: 3vw;
    margin-top: 10vh;
}
.letsconnect{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quintessential';
    word-spacing: 1.5vw;
    height: 13vh;
    padding-bottom:1.5%;
    border-bottom-style: solid;
    width: 100%;
    font-size: large;
    padding-left: 3%;
}
.infocard{
    margin-top: 2rem;
}
.infocard p{
    display: flex;
    justify-content: right;
    line-height: 0.5rem;
}
.logoimages{
    display: flex;
    justify-content: right;
}
#linkedinlogo{
    margin:0 1rem;
}
.txtarea{
    width:100%;
}
.logoimages #instalogo:hover{
    opacity: 0.7;
}
.logoimages #linkedinlogo:hover{
    opacity: 0.7;
}
.logoimages #facebooklogo:hover{
    opacity: 0.7;
}
.mainimage{
    margin-top: 2rem ;
    display: flex;
    justify-content: right;
    /* height: 20%; */
}
/* Main CSS ends */

